<<<<<<< HEAD
﻿@model IEnumerable<MusicStoreEntity.Cart>
@{
    double sum = 0;
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}
<h2>购物车</h2>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead> <tr style="background-color:gray; color:white"><th>商品名称</th><th>数量</th><th>单价</th><th>操作</th></tr></thead>
        @foreach (var l in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("detail","store",new { id=l.AlbumID})"> @l.Album.Title  </a>
                </td>
                <td>
                    @l.Count
                </td>
                <td>￥@l.Album.Price</td>
                <td><a href="#" id="del"> 不喜欢了？ 抛弃！</a></td>
            </tr>
            sum += (@l.Count * Convert.ToDouble(@l.Album.Price));
        }
    </table>
</div>
<span style="text-align:right;">总价格：￥@sum</span>
<script>
    $("#del").click(function () {
        //异步
        $("#msg").html("<img src ='../../content/images/loading.gif'>添加购物车请稍后...");
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/ShoppingCart',
            data: { id: "@Model.ID" },
            dataType: 'json',
            success: function (data) {
                //如果没有登录,跳转到登录页
                if (data == "nologin")
                    location.href = "@Url.Action("login","Account",new { returnUrl = Url.Action("Detail", "Store", new { id = Model.ID }) })";
                else {
                    //添加到购物车成功，把动画取消

                    $("#msg").html(data);
                    //2S后，重新刷新此区域
                    setTimeout(function () {
                        location.reload();
                    }, 2000);

                }
            }
        });
    });

=======
﻿@model MusicStore.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}
<h2><i class="glyphicon glyphicon-shopping-cart"></i><em>游览</em>&nbsp;   您的购物车</h2>

<p class="button">
    @Html.ActionLink("马上购买", "buy", "Order")
</p>

<div class="table-responsive " >
    <table class="table table-bordered table-hover">
        <thead> <tr style="background-color:gray; color:white"><th>专辑名称</th><th width="150px;">数量</th><th>单价</th><th>操作</th></tr></thead>
        <tbody id="tbCart">
            @foreach (var l in Model.CartItems)
            {
                <tr>
                    <td>
                        @Html.ActionLink(l.Album.Title, "detail", "store", new { id = l.Album.ID }, null)
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-minus s" onclick="minus('@l.ID')"></i> @l.Count&nbsp;<i class="glyphicon glyphicon-plus s" onclick="plus('@l.ID')"></i> 
                    </td>
                    <td>@l.Album.Price.ToString("C")</td>
                    <td><a href="#" id="del" onclick="removeCart('@l.ID');"> <i class="glyphicon glyphicon-remove"></i>我不喜欢这个了 抛弃！</a></td>
                </tr>
            }
            <tr>
                <td colspan="4" style="text-align:right">总价格：<span style="color:red"> @Model.CartTotalPrice.ToString("C")</span></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    function removeCart(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: 'post',
            async: true,
            url: "../../shoppingcart/removeCart",
            data: { id: id,count:2},
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新<tbody>
                $("#tbCart").html(data);
            }
        });
    }

    function minus(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: 'post',
            async: true,
            url: "../../shoppingcart/removeCart",
            data: { id: id ,count:0},
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新<tbody>
                $("#tbCart").html(data);
            }
        });
    }

    function plus(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: 'post',
            async: true,
            url: "../../shoppingcart/removeCart",
            data: { id: id, count: 1 },
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新<tbody>
                $("#tbCart").html(data);
            }
        });
    }
>>>>>>> 169a1dc5ec953bec41b43f553b60109f91cc1e9e
</script>
