<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 音乐商店</title>
    @*绑定样式库*@
    @Styles.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/JquertUI")
    @Styles.Render("~/Content/css")

    @*绑定脚本库*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/JqueryUI")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header ">
                <img class="navbar-brand" src="~/Content/images/logo.png" />
                <a class="navbar-brand" href="#">
                    BalabalaQAQ 音乐商店
                </a>
            </div>
            <div class="top-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">主页</a></li>
                    <li><a href="#">商店</a></li>
                    <li class="active"><a href="#">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ul class="row">
            <li class="col-md-3">
                <div class="music-left">
                    <div class="list-group">
                        <a href="#" class="list-group-item  bg">
                            <h4 class="list-group-item-heading ">
                                Music List
                            </h4>
                        </a>
                        @*左侧导航*@
                        @Html.Partial("_GetGenreMenu", new MusicStoreEntity.EntityDbContext().Genres.ToList())
                    </div>
                    <div class="music-dw">当前位置：</div>
                </div>
            </li>
            <li class="col-md-9">
                <div class="music-view">
                    @*操作区*@
                    @RenderBody()
                </div>
            </li>
        </ul>
        <div class="row bottom">
            @*尾栏*@
            <p class="col-md-12">2016XXXXXXXXXXXXXXXXXXXXXX</p>
           
        </div>
    </div>
    @*继承此布局页的页面执行脚本的位置*@
    @RenderSection("scripts", required: false)

</body>
</html>
