<!DOCTYPE html>
@using MusicStore.ViewModels
@using MusicStoreEntity.UserAndRole
@using MusicStoreEntity
@{
    //判断用户是否登录，如果ApplicationUser user不为空表示用户登录成功

    var loginUserModel = Session["LoginUserSessionModel"] as LoginUserSessionModel;
    ApplicationUser user = null;
    //查询购物车  收藏车

    var cart = new List<Cart>();

    if (loginUserModel != null)
    {
        if (loginUserModel.User != null)
        {
            user = loginUserModel.User;
        }
        //查询购物车  收藏车
        cart = new EntityDbContext().Cart.Where(x => x.Person.ID == user.Person.ID).ToList();
    }
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 音乐商店</title>
    @*绑定样式库*@
    @Styles.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/JquertUI")
    @Styles.Render("~/Content/css")

    @*绑定脚本库*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/JqueryUI")
    @Scripts.Render("~/bundles/bootstrap")

</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation" id="index">
        <div class="container-fluid">
            <div class="navbar-header ">
                <img class="navbar-brand" src="~/Content/images/logo.png" />
                <a class="navbar-brand" href="#">
                    BalabalaQAQ 音乐商店
                </a>
            </div>
            <div class="top-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("index","home")">主页</a></li>
                    <li><a href="@Url.Action("Store","Home")">商店</a></li>
                    @if (user == null)
            {
                        <li class="active"><a href="@Url.Action("login","account")">登录</a></li>
                    }
                    else
                    {
                        //登录成功显示用户姓名，点姓名展开向下菜单
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="@user.Person.Avarda" style="height:25px;width:25px; border-radius:50%;" />
                                @user.Person.Name<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("ShoppingCart", "ShoppingCart")">购物车 @cart.Count()</a></li>
                                <li><a href="@Url.Action("index", "Order")">我的订单</a></li>
                                <li><a href="@Url.Action("index", "AddressPerson")">设置收件人</a></li>
                                <li><a href="@Url.Action("index", "my")">个人信息</a></li>
                                <li><a href="@Url.Action("RevisePwd", "Account")">修改密码</a></li>
                                <li><a href="@Url.Action("loginout", "account")">注销</a></li>
                            </ul>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <ul class="row">
            <li class="col-md-3">
                <div class="music-left">
                    <div class="list-group">
                        <a href="#" class="list-group-item  bg">
                            <h4 class="list-group-item-heading ">
                                Music List
                            </h4>
                        </a>
                        @*左侧导航*@
                        @Html.Partial("_GetGenreMenu", new MusicStoreEntity.EntityDbContext().Genres.ToList())
                    </div>
                    <div class="music-dw"><span id="citymap" class="glyphicon glyphicon-map-marker" style="height:20px;">定位中...</span></div>
                </div>
            </li>
            <li class="col-md-9">
                @*操作区*@
                @RenderBody()
            </li>
        </ul>
        <div class="row">

            @*尾栏*@
        </div>
    </div>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=rBrUWwYbVSQ9xeF36i4obqT13IzxiDkF"></script>
    @*继承此布局页的页面执行脚本的位置*@
    @RenderSection("scripts", required: false)
    <script>


        //百度地图
        var map = new BMap.Map("citymap");
        //  var point = new BMap.Point(116.331398, 39.897445);
        //  map.centerAndZoom(point, 12);

        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function (r) {

            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                function myFun(result) {

                    var cityName = result.name;
                    map.setCenter(cityName);
                    document.getElementById('citymap').innerHTML = "当前位置：" + cityName;
                }
                var myCity = new BMap.LocalCity();

                myCity.get(myFun);
            }
            else {
                document.getElementById('citymap').innerHTML = "定位失败！";
            }
        });
    </script>

</body>
</html>
