@model Music.ViewModels.ChangePassWordViewModel
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>修改密码</h2>
@using (Html.BeginForm("ChangePassWord", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true,"密码修改失败，请检查输入是否有误！")
    @Html.AntiForgeryToken()
    <div class="container">
        <fieldset>
            <legend>用户注册</legend>
            <div class="editor-label">
                @Html.LabelFor(x => x.PassWord)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(x => x.PassWord, new { placeholder = "请输入密码", @type = "text", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PassWord)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.NewPassWord)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(x => x.NewPassWord, new { placeholder = "输入新密码", @type = "text", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.NewPassWord)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.ConFirmPassWord)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(x => x.ConFirmPassWord, new { placeholder = "再次输入密码", @type = "text", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ConFirmPassWord)
            </div>
            <p>
                <input type="submit" value="修改" class="btn btn-success" />
            </p>
        </fieldset>
    </div>
}

