
@model IEnumerable<MusicStoreEntity.Order>
@{ 
    ViewBag.Title = "订单明细";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<fieldset>
    <legend>我的订单</legend>
    <table>
        <tbody>
            <tr>
                <th>订单摘要</th>
                <th>明细</th>
                <th>总价</th>
                <th>状态</th>
                <th></th>
            </tr>
        </tbody>

@foreach (var item in Model)
      {
        <tbody>
                <tr>
                    <td>
                        <span class="text-warning">@item.TradeNo</span><br />
                        收件人: @item.AddressPerson
                        <br />
                        收件地址：@item.Address
                        <br />
                        电话号码：@item.MobilNumber
                    </td>

@foreach (var items in item.OrderDetails)
{
                    <td><span class="text-primary">@items.Album.Title, @items.Count , 1张</span></td>
                    
}
                   
                    <td>@item.TotalPrice.ToString("C")</td>
                    <td>@item.EnumOrderStatus</td>
                    <td>
                    <a href="/AliPay/Pay"  class="btn btn-info btn-um">
                     <span  class="glyphicon glyphicon-headphones">
                     </span>
                        立即支付
                        </a></td>
                </tr>   
        </tbody>
}
    </table>
    <p></p>
</fieldset>




