@model MusicStore.ViewModels.ChangePassWordViewModel

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<h2>修改密码</h2>
@using (Html.BeginForm("ChangePassWord", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true, "密码修改失败，请检查输入是否有误.")
        <div>
            <fieldset>
                <legend>修改密码</legend>
                <div class="editor-label">
                    @Html.LabelFor(x => x.PassWord)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(x => x.PassWord, new {placeholder = "请输入用户原登录密码"})
                    @Html.ValidationMessageFor(x => x.PassWord)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.NewPassWord)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(x => x.NewPassWord, new {placeholder = "请输入用户新的登录密码"})
                    @Html.ValidationMessageFor(x => x.NewPassWord)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.ConfirmNewPassWord)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(x => x.ConfirmNewPassWord, new {placeholder = "再次输入用户登录密码"})
                    @Html.ValidationMessageFor(x => x.ConfirmNewPassWord)
                </div>
                <p>
                    <input type="submit" value="确定" class="btn btn-success" style="width: 70px"/>
                </p>
            </fieldset>
        </div>
    }