@model IEnumerable<MusicStoreEntity.Album>
@{
    ViewBag.Title = "首页";
}

<div class="daohang">
    <div class="row clearfix">
        <div class="col-md-12 column">
            @*左侧导航*@
            @Html.Partial("_GetGenreMenu", new MusicStoreEntity.EntityDbContext().Genres.ToList())
        </div>
    </div>
</div>
<div class="img-responsive" id="promotion"></div>
<h3><em>新歌</em>上架</h3>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row">
@foreach (var item in Model)
{
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="img-responsive" alt="@item.Title" src="@item.AlbumArtUrl" />
                        <div class="caption">
                            <h3>
                                @item.Artist.Name
                            </h3>
                            <p>
                                @item.Title
                                 </p>
                            <p>
                                <a class="btn btn-primary" href="@Url.Action("detail","store",new {id=item.ID})">查看详细</a> <a class="btn" href="#">Action</a>
                            </p>
                        </div>
                    </div>
                </div>
             
}
            </div>
        </div>
    </div>
    <ul class="pagination">
        <li>
            <a href="#">Prev</a>
        </li>
        <li>
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">Next</a>
        </li>
    </ul>
</div>