@model IEnumerable<MusicStoreEntity.Album>
@{
    ViewBag.Title = "首页";
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="nav nav-pills"  id="daohang">
                <li class="active">@Html.Partial("_GetGenreMenu", new MusicStoreEntity.EntityDbContext().Genres.ToList())</li>
                
            </ul>
            
        </div>
    </div>
</div>


@*---轮播图---*@

<div class="row clearfix">
    <div class="col-md-12 column">
        <!-- 标签栏 -->
        <div class='tab-head' id='tab-head'>
            <div class='tab-head-div current'></div>
            <div class='tab-head-div'></div>
            <div class='tab-head-div'></div>
            <div class='tab-head-div'></div>
            <div class='tab-head-div tab-head-right'></div>
        </div>
        <!-- 内容 -->
        <div class='tab-body' id='tab-body'>
            <ul class='tab-body-ul current'>
                <li><a href="#"><img src="~/content/images/zj2.jpg" alt='广告' style="width:100%; height:350px;"></a></li>
            </ul>
            <ul class='tab-body-ul'>
                <li><a href="#"><img src="~/content/images/zj1.jpg" alt='广告' style="width:100%; height:350px;"></a></li>
            </ul>
            <ul class='tab-body-ul'>
                <li><a href="#"><img src="~/content/images/zj.jpg" alt='广告' style="width:100%; height:350px;"></a></li>
            </ul>
            <ul class='tab-body-ul'>
                <li><a href="#"><img src="~/content/images/zj3.jpg" alt='广告' style="width:100%; height:350px;"></a></li>
            </ul>
            <ul class='tab-body-ul'>
                <li><a href="#"><img src="~/content/images/zj4.jpg" alt='广告' style="width:100%; height:350px;"></a></li>
            </ul>
        </div>

    </div>
</div>


<h3><em>新歌</em>上架</h3>
<div class="container">
    <div class="row clearfix">

    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapseOne">
                        点击看
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 column">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img id="imgs" class="img-responsive" alt="@item.Title" src="@item.AlbumArtUrl" />
                                        <div class="caption">
                                            <h3>
                                                @item.Artist.Name
                                            </h3>
                                            <p>
                                                @item.Title
                                            </p>
                                            <p>
                                                <a class="btn btn-primary" href="@Url.Action("detail","store",new {id=item.ID})">查看详细</a> <a class="btn" href="#"><i class="glyphicon glyphicon-play"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script>
        //当页面加载时执行此方法
        window.onload = function () {
            //获取所有的tab-head-div
            var head_divs = document.getElementById('tab-head').getElementsByTagName('div');
            //保存当前焦点元素的索引值
            var current_index = 0;
            //启动定时器
            var timer = setInterval(autuCheck, 2000);

            //遍历head元素
            for (var i = 0; i < head_divs.length; i++) {
                //添加鼠标悬停的事件
                head_divs[i].onmouseover = function () {
                    clearInterval(timer);
                    if (i != current_index) {
                        head_divs[current_index].style.backgroundColor = '';
                        head_divs[current_index].style.borderBottom = '';
                    }
                    //获取所有的tab-body-ul
                    var body_uls = document.getElementById('tab-body').getElementsByTagName('ul');
                    //遍历所有的tab-body-ul
                    for (var i = 0; i < body_uls.length; i++) {
                        //将所有的元素隐藏 去掉current类名
                        body_uls[i].className = body_uls[i].className.replace(' current', '');
                        head_divs[i].className = head_divs[i].className.replace(' current', '');
                        //将当前索引对应的元素设为显示
                        if (head_divs[i] == this) {
                            this.className += ' current';
                            body_uls[i].className += ' current';
                        }
                    }
                }
                //添加鼠标的移出事件
                head_divs[i].onmouseout = function () {
                    timer = setInterval(autuCheck, 2000);
                }
            }

            //定义定时器，按周期tab栏的切换
            function autuCheck() {
                //每间隔对应周期 ，标签索引值自增
                ++current_index;
                //当索引值自增到上限 重置为0
                if (current_index == head_divs.length)
                    current_index = 0;

                //切换标签后修改current标签的样式
                for (var i = 0; i < head_divs.length; i++) {
                    if (i == current_index) {
                        head_divs[i].style.backgroundColor = '#fff';
                        head_divs[i].style.borderBottom = '1px solid #fff';
                    }
                    else {
                        head_divs[i].style.backgroundColor = '';
                        head_divs[i].style.borderBottom = '';
                    }
                }

                //切换显示的内容
                //获取所有的tab-body-ul
                var body_uls = document.getElementById('tab-body').getElementsByTagName('ul');
                //遍历所有的tab-body-ul
                for (var i = 0; i < body_uls.length; i++) {
                    //将所有的元素隐藏 去掉current类名
                    body_uls[i].className = body_uls[i].className.replace(' current', '');
                    head_divs[i].className = head_divs[i].className.replace(' current', '');
                    //将当前索引对应的元素设为显示
                    if (head_divs[i] == head_divs[current_index]) {
                        this.className += ' current';
                        body_uls[i].className += ' current';
                    }
                }
            }
        }
    </script>
    <style>
        /* 大div的样式 */
        .tab-box {
            width: 100%;
            height: 350px;
            position: relative;
            
        }

        /* 选项标签的样式 */
        .tab-head {
            height: 10px;
        }

        .tab-head-div {
            width: 15px;
            height: 15px;
            float: left;
            border-bottom: 2px solid rgb(240, 178, 10);
            border-right: 2px solid #ccc;
            border-top: 2px solid rgb(206, 18, 18);
            border-left: 2px solid rgb(20, 125, 211);
            background: #666;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
            position: relative;
            top: 345px;
            left: 400px;
            margin-left: 10px;
            border: 5px;
            border-radius: 50%;
        }

        .tab-head-right {
            border-right: 0;
        }

        .tab-head .current {
            background: wheat;
            border-bottom: 0;
        }

        /* 选项内容的样式 */
        .tab-body-ul {
            display: none;
        }

            .tab-body-ul li {
            }

        .tab-body .current {
            display: block;
        }
    </style>
