
@model MusicStore.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "浏览购物车";


    Layout = "~/Views/Shared/New_ViewStart.cshtml";

    double sum = 0;


    Session["Modified"] = null;



}

<h2><i class="glyphicon glyphicon-shopping-cart">浏览您的购物车</i></h2>
<p class="ui-button">
    @Html.ActionLink("马上购买>>", "buy", "Order")
</p>
<table class="ShoppingCartView">
    <tbody>
        <tr>
            <th>专辑名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
    </tbody>
    <tbody id="tbCart">
        @foreach (var item in Model.CarItems)
        {
            //sum += Convert.ToDouble(item.Album.Price);
            <tr>
                <td>@Html.ActionLink(item.Album.Title, "detail", "Store", new { id = item.Album.ID }, null)</td>
                <td>@item.Album.Price.ToString("C")</td>
                <td> 
                    <ul class="count">
                        <li><span id="num-jian" class="num-jian" onclick="jiajianCount('@item.ID','jian')">-</span></li>
                        <li><input type="text" class="input-num" id="input-num" value=@item.Count /></li>
                        <li><span id="num-jia" class="num-jia" onclick="jiajianCount('@item.ID','jia')">+</span></li>
                    </ul>
                </td>
                <td><a href="javascript:;" id="@item.ID" onclick="Delete('@item.ID','@item.Album.Title')"><i class="glyphicon glyphicon-remove"></i>我不想要他了</a></td>
            </tr>

        }
        <tr>
            <td></td>
            <td></td>
            <td>总价</td>
            <td>@Model.CartTotaIprice.ToString("C").</td>
        </tr>
    </tbody>
</table>
<script>
     //我的写法
              //function Delete(ID) {
              //  if (confirm("您确定要删除此类商品么？")) {
              //      url ='../../ShoppingCart/Delete',
              //      parameter = { id:ID};
              //      $.post(url, parameter, function (data) {
              //          alert("删除成功！");
              //          location.reload();
              //      });
              //  }
              //}


    //老师的写法

    function Delete(ID, Title) {
        if (confirm("您确定要删除《"+Title+"》专辑么？"))
        {      //ajax 提交到服务器端进行购物车项的删除
            $.ajax({
                type: 'post',
                async: true,
                url: '../../ShoppingCart/Delete',
                data: { id: ID },
                dataType: 'json',
                success: function (data) {
                    //视图中进行局部页面的刷新 <tbody>
                    $("#tbCart").html(data);

                    //    setTimeout(function () {
                    //        location.reload();
                    //    },
                    //1000);
                }
            })
        }
            
              }
</script>

