@using MusicStore.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var msg = "";
    if (ViewBag.LoginUserStatus != null)
    {
        msg = (ViewBag.LoginUserStatus as LoginUserStatus).Message;
    }
}

<h3>用户登录</h3>
<p>如果没有用户名，请点击一下<a class="text-success" href="@Url.Action("Register","Account")">这里</a></p>
<hr />
@*登录*@
<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">登录</h4>
    </div>
    @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "bs-example bs-example-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                @Html.TextBoxFor(x => x.UserName, new { placeholder = "UserName", @class = "form-control" })
            </div>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.UserName)</span>
            <br>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.PasswordFor(x => x.PassWord, new { placeholder = "PassWord", @class = "form-control" })
            </div>
            <span class="text-danger">@Html.ValidationMessageFor(x => x.PassWord) @msg</span>
            <br>
            <input type="submit" class="btn btn-primary" value="登录" />
        </div>
    }
</div>
