@model MusicStoreEntity.Album
@{
    ViewBag.Title = "专辑明细";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h4>单曲 - @Model.Title</h4>
<hr />
<p>
    <img alt="图片加载失败" src="@Model.AlbumArtUrl" />
</p>

<div>
    <p>
        <em>歌手：</em>@Model.Artist.Name
    </p>
    <p>
        <em>分类：</em>@Model.Genre.Name
    </p>
    <p>
        <em>发布时间：</em>@Model.PublisherDate.ToString("yyyy年MM月dd日")
    </p>
    <p>
        <em>价格：</em><b>￥@string.Format("{0:F}", Model.Price)</b>
    </p>
    <div id="mes"></div>
    <br />
    <p>
        <a href="#" id="addcart" class="btn btn-primary">添加到购物车</a>
        <div id="mes"></div>
    </p>
</div>
<div>
    <div class="pl-hd">
        <span class="pl">评论</span><span class="text-muted">共 @Model.Commentarys.Count 条评论</span>
    </div>
    <div class="plText">
        <img class="pl-Avarda MyAvarda" src="@ViewBag.AvardaUrl" />
        @*<textarea id="Count" maxlength="140" placeholder="评论"></textarea>*@
        <script id="container" name="content" type="text/plain">
            这里写你的初始化内容
        </script>
        <p class="text-right">
            <span id="font-count" class="text-muted">140</span>&nbsp;&nbsp;
            <a href="#" class="btn btn-success">评论</a>
        </p>
    </div>
    <div>
        <strong>精彩评论</strong>
        <hr class="jcpl-hr" />
        @foreach (var item in Model.Commentarys.OrderByDescending(x=>x.PublisherDate).ToList())
        {
        <div class="pl-list">
            <img class="pl-Avarda MyAvarda" src="@item.Person.Avarda" />
            <div class="pl-user">
                <a href="#">@item.Person.Name</a>：
                @item.Context
            </div>
            <p class="user-ment text-right">
                <a id='@item.ID' onclick="zan('@item.ID')" href="#"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;&nbsp;( @item.ThumbsUp )</a>
                <span class="text-muted time">@item.PublisherDate</span>
            </p>
        </div>
        }
    </div>
</div>
<!-- 配置文件 -->
<script type="text/javascript" src="~/ueditor1_4_3_3-utf8-asp/utf8-asp/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="~/ueditor1_4_3_3-utf8-asp/utf8-asp/ueditor.all.js"></script>
<script>
    /*
    $("#Count").change(function () {
        $("#font-count").html(140 - $("#Count").val().length);
    });*/

    //点赞
    var i = 0;
    function zan(id) {
        if(i==0){
            $.ajax({
                type: 'post',
                async: true,
                url: '../../Store/Zan',
                data: {id:id},
                dataType:'json',
                success: function (data) {
                    if (data == "nologin") {
                        location.href = "@Url.Action("Login","Account")";
                    } else {
                        $("#" + id + "").html(data);
                        $("#" + id + "").addClass("text-danger");
                        i++;
                    }
                }
            })
        }else {
            alert("今日点赞已达上限！");
        }
    }

    //添加至购物车
    $("#addcart").click(function () {
        //异步
        $("#mes").html("<img src='../../Content/Images/ProgressIcon.gif' />添加到购物车，请稍后...");
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data: { id: "@Model.ID" },
            dataType: 'json',
            success: function (data) {
                if (data == "nologin") {
                    location.href = "@Url.Action("Login", "Account", new { returnUrl = Url.Action("Detail", "Store", new { id = Model.ID }) })";
                } else {
                    $("#mes").html(data);
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
            }
        });
    });
    //实例化编辑器
    var ue = UE.getEditor('container');
</script>