@model MusicStore.ViewModels.ChangePassWordViewModel
@{ 
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/New_ViewStart.cshtml";
}

<h2>修改密码</h2>
@using (Html.BeginForm("ChangePassWord", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken();


    <fieldset>
        <legend>
            用户信息
        </legend>
        <div class="editor-label">
            @Html.LabelFor(x => x.NewPassWord)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.NewPassWord, new { placeholder = "请输入用户登录密码" })
            @Html.ValidationMessageFor(x => x.NewPassWord)
        </div>


        <div class="editor-label">
            @Html.LabelFor(x => x.ConfirmPassWord)
        </div>

        <div class="editor-field">
            @Html.PasswordFor(x => x.ConfirmPassWord, new { placeholder = "请输入用户登录密码" })
            @Html.ValidationMessageFor(x => x.ConfirmPassWord)
        </div>
        <p class="text-danger">

        </p>
        <p>
            <input type="submit" value="注册" class="btn btn-success" />
        </p>

    </fieldset>

}


