@model MusicStore.ViewModels.MyViewModel
@{
    ViewBag.Title = "我的";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>个人信息</h2>
<form enctype="multipart/form-data" action="" method="post">
    @Html.AntiForgeryToken()

    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(x => x.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Name, new { placeholder = "请输入收件人姓名" })
                @Html.ValidationMessageFor(x => x.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(x => x.Address)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Address, new { placeholder = "请输入收货地址" })
                @Html.ValidationMessageFor(x => x.Address)
            </div>

            <div class="editor-label">
                @Html.LabelFor(x => x.TelePhoneNumber)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.TelePhoneNumber, new { placeholder = "请输入收件人手机" })
                @Html.ValidationMessageFor(x => x.TelePhoneNumber)
            </div>

            <div class="editor-label">
                @Html.LabelFor(x => x.Avarda)
            </div>
            <div class="editor-field">
                <img id="imgAvarda" src="@ViewBag.AvardaUrl" />
                @Html.TextBoxFor(x => x.Avarda, new { type = "file" })
            </div>

            <p>
                <input type="submit" value="保存" class="btn btn-success" style="width:100px" />
            </p>
        </fieldset>
    </div>
</form>

<script>
    $(function() {
        $("#Avarda").on("change",
            function() {
                var file = this.files[0];
                //判断是不是图片
                if (!/image\/\w+/.test(file.type)) {
                    alert('文件必须为图片！');
                    return false;
                }
                //读文件内容，读物理地址，把img标签的src属性重新赋值
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (e) {
                    $("#imgAvarda").attr('src', this.result);
                }
            });
    });
</script>
