@model MusicStore.ViewModels.ChangePassWordViewModel

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>修改密码</h2>
@using (Html.BeginForm("ChangePassWord", "account", FormMethod.Post))
{
    @Html.ValidationSummary(true,"密码修改失败,请检查是否有误.")
    {
        <div>
            <fieldset>
                <label for="UserName">输入要修改的密码</label>
                <div class="editor-label">
                    @Html.LabelFor(x => x.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(x => x.Password, new { placeholder = "请输入用户原始登录密码" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(x => x.NewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(x => x.NewPassword, new { placeholder = "请输入用户新的登录密码" })
                    @Html.ValidationMessageFor(x => x.NewPassword)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(x => x.ConfirNewPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(x => x.ConfirNewPassword, new { placeholder = "再次输入用户登录密码" })
                    @Html.ValidationMessageFor(x => x.ConfirNewPassword)
                </div>

                <p>
                    <input type="submit" value="修改密码" class="btn btn-success" />
                </p>
            </fieldset>
        </div>
    }
}
