@model IEnumerable<MusicStoreEntity.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}


<fieldset>
    <legend>我的订单</legend>
    <table>
        <tbody>
            <tr>
                <th>订单摘要</th>
                <th>明细</th>
                <th>总价</th>
                <th>状态</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        @i.AddressPerson.ToString()
                    </td>
                    <td>
                        @foreach (var l in i.OrderDetails)
                        {
                            @l.Album.Title
                            <br>
                            @l.Count
                            <a>张</a>
                            <br>
                        }
                    </td>
                    <td>
                        @i.TotalPrice
                    </td>
                    <td>
                        @i.EnumOrderStatus
                        <a class="btn btn-success" href="/pay/alipay/074bde4a-2c83-4575-aa0f-faf094ca00c7">立即支付</a>
                    </td>
                </tr>
            }
        </tbody>
        <tbody></tbody>
    </table>
    <p></p>

</fieldset>
