@model MusicStoreEntity.Albun
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/New_ViewStart.cshtml";
}

<h2>@Model.Title</h2>

 <p>
     <img alt="@Model.Title" src="@Model.AlbumArtUrl" />
<p> 
    <em>
        分类：
    </em>
    @Model.Genre.Name
</p>
<p>
    <em>
        发布时间：
    </em>
    @Model.PublsherDate.ToString("yyyy年MM月dd日");
</p>
<p>
    <em>
        歌手：
    </em>
    @Model.Artist.Name
</p>


<p>
    <em>
        价格：
    </em>
    @string.Format("{0:F}",Model.Price)
</p>

<div id="msg"></div>
<p>
    <a class="btn" id="addcart">添加到购物车</a>
    <div id="msg"></div>
</p>
<script>
    $("#addcart").click(function () {
        $("#msg").html("<img src='../../content/Images/ProgressIcon.gif'>添加到购物车,请稍后...")
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data: {id:"@Model.ID"},
            dataType:'json',
            success:function(data){
                //如果没有登录，跳转到登录页
                if(data == "nologin")
                {
                    location.href = " @Url.Action("Login", "Login", new { returnUrl = Url.Action("Detail", "Store", new { id = Model.ID }) })";
                }
                else{
                    $("#msg").html(data);
                    //2秒后，自动重新刷新此区域
                    setTimeout(function () {
                        location.reload();
                    },
                        1000);
                }
            }
        }

            )
    });
    //异步
</script>
