@model MusicStoreEntity.Reply

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/New_ViewStart.cshtml";
    var Reply = ViewBag.Reply;
    var detail = ViewBag.detail;
}

<h2>@detail.Title</h2>

<div class="Detail_box">
    <p>
        <img alt="@detail.Title" src="@detail.AlbumArtUrl" />
    <p>
        <em>
            分类：
        </em>
        @detail.Genre.Name
    </p>
    <p>
        <em>
            发布时间：
        </em>
        @detail.PublsherDate.ToString("yyyy年MM月dd日");
    </p>
    <p>
        <em>
            歌手：
        </em>
        @detail.Artist.Name
    </p>


    <p>
        <em>
            价格：
        </em>
        @string.Format("{0:F}", detail.Price)
    </p>

    <div id="msg"></div>
    <p>
        <a class="btn" id="addcart">添加到购物车</a>
        <div id="msg"></div>
    </p>


    @try
    {
        foreach (var item in Reply)
        {
    <div class="comment">
        <p>@item.Person.Name</p>
        <p>@item.CreateDateTime</p>
        <p>@item.Content</p>
    </div>
        }
    }
    catch
    {

    }




    <div>
        <div class="editor-field">
            <textarea class="Content"></textarea>
        </div>
    </div>
    <input type="button" onclick="Contentpoth()" class="content_btn" value="评论" />


    <div id="box_video">
        <div class="cd">
            <div class="center">
                <audio src="../Music/ycyy.mp3" controls autoplay loop></audio>
            </div>
            <div class="song">
                @*<h2>云城烟雨</h2>*@

            </div>
        </div>
    </div>
</div>

<script>
    $("#addcart").click(function () {
        $("#msg").html("<img src='../../content/Images/ProgressIcon.gif'>添加到购物车,请稍后...")
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data: {id:"@detail.ID"},
            dataType:'json',
            success:function(data){
                //如果没有登录，跳转到登录页
                if(data == "nologin")
                {
                    location.href = " @Url.Action("Login", "Login", new { returnUrl = Url.Action("Detail", "Store", new { id = detail.ID }) })";
                }
                else{
                    $("#msg").html(data);
                    //2秒后，自动重新刷新此区域
                    setTimeout(function () {
                        location.reload();
                    },
                        1000);
                }
            }
        }

            )
    });

    function Contentpoth(){
        var Content = $(".Content")[0].value;
        $.ajax({
            type: 'post',
            async: true,
            url: '../../Store/Reply',
            data: { id: "@detail.ID", Content },
            dataType: 'json',
            success: function (data) {
                $("#comment").html(data);
            }
        }
            )
              }
    //异步
</script>
