@model MusicStoreEntity.Order

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_newLayout.cshtml";
}

<h2>确认购买</h2>

<fieldset>
    <legend>收件信息</legend>
    @Html.DropDownList("AddressPerson", new SelectList(ViewBag.addperson, "Value", "Text"), new { @class = "btn btn-info dropdown-toggle form-control", @runat = "addpersonID".First(), id = "ID" })
    <br />
    @using (Html.BeginForm())
    {
        <legend>您想购买的专辑列表</legend>
                <div class="table-responsive ">
                    <table class="table table-bordered table-hover">
                        <thead> <tr style="background-color:gray; color:white"><th>专辑名称</th><th width="150px;">数量</th><th>单价</th><th>操作</th></tr></thead>
                        <tbody id="tbCart">
                            @foreach (var l in Model.OrdelDetails)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(l.Album.Title, "detail", "store", new { id = l.Album.ID }, null)
                                    </td>
                                    <td>
                                        @l.Count
                                    </td>
                                    <td>@l.Album.Price.ToString("C")</td>
                                    <td><a href="#" id="del" onclick="RemoveDetail('@l.ID');"> <i class="glyphicon glyphicon-remove"></i>我不喜欢这个了 抛弃！</a></td>
                                </tr>
                            }
                            <tr>
                                <td colspan="4" style="text-align:right">总价格：<span style="color:red"> @Model.TotalPrice.ToString("C")</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <button type="submit" class="btn btn-success" style="width:100px" onclick="Addperson()">
                            <i class="glyphicon glyphicon-shopping-cart">确认购买</i>
                        </button>
                    </p>
                </div>
    }
</fieldset>

<script>

    function RemoveDetail(id) {
        //移除订单明细
        $.ajax({
            type: 'post',
            async: true,
            url: "../../Order/RemoveDetail",
            data: { id: id },
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新<tbody>
                $("#tbCart").html(data);
            }
        });
    }
    function Addperson() {
        var ddl = document.getElementById("ID")
        var index = ddl.selectedIndex;

        var Value = ddl.options[index].value;
        $.ajax({
            type: 'post',
            async: true,
            url: "../../Order/Buy",
            data: { id: Value },
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新<tbody>
                $("#tbCart").html(data);
            }
        });
    }
</script>
