
@model MusicStoreEntity.Album
@{ 
    Layout = "~/Views/Shared/_NewLaout.cshtml";
    ViewBag.Title = "专辑明细";
}}
 <h2>@Model.Title</h2>

<p>
    <img alt="@Model.Title" src="@Model.AlbumArtUrl"/>
</p>
<div>
    <p>
        <em>
            分类：
        </em>
        @Model.Genre.Name
    </p>
    <p>
        <em>
            歌手：
        </em>
        @Model.Artist.Name
    </p>
    <p>
        <em>
            价格：
        </em>
        $@string.Format("{0:F}",Model.Price)
    </p>
    <p>
        <em>
            发行时间：
        </em>
        @Model.PublisherDate.ToString("yyyy年MM月dd日");
    </p>
</div>