@using MusicStore.ViewModels
@using MusicStoreEntity
@using UserAndRole
@{
    //验证登录

    var loginUserModel = Session["LoginUserSessionModel"] as LoginUserSessionModel;
    ApplicationUser user = null;
    //查询购物车  收藏车
    var carts = new List<Cart>();

    if (loginUserModel != null)
    {
        if (loginUserModel.User != null)
        {
            user = loginUserModel.User;
        }
        //查询购物车
        carts = new EntityDbContext().Carts.Where(x=>x.Person.ID== user.Person.ID).ToList();
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 音乐商店</title>    
    @*绑定样式库*@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Ueditor/css")
    @Styles.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/JqueryUI")

    @*绑定脚本库*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Ueditor")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/JqueryUI")
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <div id="header">
        @*Logo和菜单*@
        <h1><a href="/">我的音乐商店</a></h1>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="@Url.Action("index","home")">首页</a></li>
            <li><a href="@Url.Action("Index","Store")">专辑</a></li>
            @if (user == null)
            {
                <li><a href="@Url.Action("login", "account")">登录</a></li>
            }
            else
            {
                //登录成功显示用户姓名，点姓名展开向下菜单
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="@user.Person.Avarda" alt="头像" id="userAvarda" style="width:25px"/>

                        @*百度地图的定位*@
                        <span id="city" class="glyphicon glyphicon-map-marker">定位中...</span><span id="district"></span>

                        @user.Person.Name<span class="caret"></span></a>                
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("index", "ShoppingCart")">购物车(@carts.Count)</a></li>
                        <li><a href="@Url.Action("index", "Order")">我的订单</a></li>
                        <li><a href="@Url.Action("index", "My")">个人资料</a></li>
                        <li><a href="@Url.Action("ChangePassWord", "Account")">设置密码</a></li>
                        <li><a href="@Url.Action("loginout", "account")">注销</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="container"> 
        <div class="row">
            <div class="col-md-3">
                @*左侧导航*@
                @Html.Partial("_GetGenreMenu",
                    new MusicStoreEntity.EntityDbContext().Genres.ToList())
            </div>          
            <div class="col-md-9">
                @*操作区*@
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @*底部*@
                @Html.Partial("_FooterLayout")
            </div>
        </div>
    </div>
    @*继承此布局页的页面执行脚本的位置*@
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=FErUdyP19QAdDV9hMdPITNoXLx8PZTyb"></script>
<script>
    // 定位
    var geolocation = new BMap.Geolocation();
    geolocation.getCurrentPosition(function (r) {
        if (this.getStatus() == BMAP_STATUS_SUCCESS) {
            Lng = r.point.lng;
            Lat = r.point.lat;
            console.log(r);
            if (r.address.district !== "") {
                document.getElementById('district').innerText = r.address.district;
            }
            if (r.address.city !== "") {
                document.getElementById('city').innerText = r.address.city;
                $.ajax({
                    url: "../home/GetWeather",
                    data: { city: r.address.city },
                    datatype: "json",
                    type: "post",
                    success: function (data) {
                        $("#divWeather").html(data);
                    }
                });
            }
            else {
                document.getElementById('city').innerText = "柳州市";
                $.ajax({
                    url: "../home/GetWeather",
                    data: { city: "柳州市" },
                    datatype: "json",
                    type: "post",
                    success: function (data) {
                        $("#divWeather").html(data);
                    }
                });
            }
        }
        else {
            document.getElementById('city').innerText = "定位失败";
        }
    }, { enableHighAccuracy: true });
</script>


