@model MusicStore.ViewsModel.ChangePassWordVIewModel
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>修改密码</h2>
@using (Html.BeginForm("ChangePassWord", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true,"密码修改失败，请检查输入是否有误！")
    <div>
        <fieldset>
            <legend>修改密码</legend>
            <div class="editor-label">
                @Html.LabelFor(x => x.PassWord)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(x => x.PassWord, new { placeholder = "请输入原密码" })
                @Html.ValidationMessageFor(x => x.PassWord)
            </div>

            <div class="editor-label">
                @Html.LabelFor(x => x.NewPassWord)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(x => x.NewPassWord, new { placeholder = "请输入新密码" })
                @Html.ValidationMessageFor(x => x.NewPassWord)
            </div>

            <div class="editor-label">
                @Html.LabelFor(x => x.ConfirmNewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(x => x.ConfirmNewPassword, new { placeholder = "请再次输入密码" })
                @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
            </div>

            <p>
                <input type="submit" value="修改密码" class="btn btn-group" style="width: 100px" />
            </p>
        </fieldset>
    </div>
}
