<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 音乐商店</title>
    @*绑定样式库*@
    @Styles.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/JqueryUI")
    @Styles.Render("~/Content/css")
    @*绑定脚本库*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/JqueryUI")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Images/logo.png" alt="Logo" />
                </a>
                <a class="navbar-brand" href="#">
                    ChaoPiPi音乐商店
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="@Url.Action("Index","Home")">首页</a></li>
                    <li><a href="@Url.Action("","")">商店</a></li>
                    <li><a href="@Url.Action("","")">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                @Html.Partial("_GetGenreMenu",new MusicStoreEntity.EntityDbContext().Genres.ToList())
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center navbar-fixed-bottom footer">
                <img src="~/Content/Images/login_logo.png" />2017 - @DateTime.Now.Year CopyRight By 2017软件技术1班
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false);
</body>
</html>
