<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 音乐商店</title>
    @*绑定样式库*@
    @Styles.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/JqueryUI")
    @Styles.Render("~/Content/css")
    @*绑定脚本库*@
    @Styles.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/JqueryUI")
    @Styles.Render("~/bundles/jqueryval")
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Images/logo.png" alt="Logo" />
                </a>
                <a class="navbar-brand" href="#">
                    ChaoPiPi音乐商店
                </a>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="@Url.Action("Index","Home")">首页</a></li>
                    <li><a href="@Url.Action("","")">商店</a></li>
                    <li><a href="@Url.Action("","")">登录</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Disco
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Jazz
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Rock
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Reggae
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Classical
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Metal
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Pop
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Blues
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Alternative
                </a>
                <a href="#" class="list-group-item">
                    <span class="glyphicon glyphicon-music"></span>
                    Latin
                </a>
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    @RenderSection("scripts", required: false);
</body>
</html>
