@model MusicStoreEntity.Album

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "专辑明细";
}
<div class="row">
    <div class="col-md-6 Music-box">
        <div id="Music-Jukebox">
            <img alt="@Model.Title" src="@Model.AlbumArtUrl" />
            @*<div class="Music-white"></div>*@
        </div>
    </div>
    <audio src="@Model.MusicUrl" id="myMusic" controls="controls"></audio>
    <div id="album-details" class="col-md-6">
        <h2>@Model.Title</h2>
        <p>
            <img alt="@Model.Title" src="@Model.AlbumArtUrl" />
        </p>
        <p>
            <em>
                发布时间：
            </em>
            @Model.PublisherDate.ToString("yyyy年MM月dd日");
        </p>
        <p>
            <em>
                分类：
            </em>
            @Model.Genre.Name
        </p>
        <p>
            <em>
                歌手：
            </em>
            @Model.Artist.Name
        </p>
        <p>
            <em>
                价格：
            </em>
            ￥@String.Format("{0:F}", Model.Price)
        </p>

        <div id="msg"></div>
        <p class="button">
            <a class="btn" id="addcart">添加到购物车</a>
            <div id="msg"></div>
        </p>
    </div>
</div>


<div id="Reply">
    <div class="Reply-title"><span style="font-size:30px;">评论</span>  共&条评论</div>
    <div class="row Reply-user">
        <div class="col-md-2 Reply-text"><span style="text-align:center;">@ViewBag.name</span><img alt="加载失败" src="@ViewBag.img" id="Musicuser_img" /></div>
        <div class="col-md-10 Reply-ueditor">
            <script id="container" name="content" type="text/plain">
            </script>
            <input type="button" value="发表评论" id="Reply-btn" />
        </div>
      
    </div>
     <br/>
    <br /> 
        @foreach (var i in Model.Reply.OrderByDescending(x=>x.ReplyTime))
       {
       <div class="Music-Reply">
           <img src="@i.Person.Avarda" alt="加载失败"  />
           <p> <span>@i.Person.Name</span>：@Html.Raw(i.Content)</p>
           <div class="Reply-time">发表时间：@i.ReplyTime</div>
       </div>
       }

</div>

<!-- 配置文件 -->
<script type="text/javascript" src="~/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="~/ueditor/ueditor.all.js"></script>
<!--<script type="text/javascript" charset="utf-8" src="~/ueditor/lang/zh-cn/zh-cn.js"></script>-->
<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container');
    //var ue = UE.getContent();
    //对编辑器的操作最好在编辑器ready之后再做

    //设置编辑器的内容
    //ue.setContent('hello');
    //获取html内容，返回: <p>hello</p>
    // var html = ue.getContent();
    //获取纯文本内容，返回: hello

    /*评论*/
    $("#Reply-btn").click(function () {
        //设置编辑器的内容
        //ue.setContent('hello');
        var txt = ue.getContentTxt();

        var html = ue.getContent();

        $.ajax({
            type: 'post',
            async: true,
            url: '../../Ueditor/Index',
            data: { id: "@Model.ID", reply: html },
            dataType: 'json',
            success: function (data) {
                //如果没有登录,跳转到登录页
                if (data == "nologin") {
                    location.href = "@Url.Action("login","Account",new { returnUrl = Url.Action("Detail", "Store", new { id = Model.ID }) })";
                    ue.setContent(txt);
                }
                else {
                    //添加评论成功
                    $("#Reply").html(data);
                    //清空内容
                    ue.setContent('');
                    alert('评论成功！');
                    //2S后，重新刷新此区域
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
            }
        });
    });

</script>
<script>




    /*添加*/
    $("#addcart").click(function () {
        //异步
        $("#msg").html("<img src ='../../content/images/loading.gif'>添加购物车请稍后...");
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data: { id: "@Model.ID" },
            dataType: 'json',
            success: function (data) {
                //如果没有登录,跳转到登录页
                if (data == "nologin")
                    location.href = "@Url.Action("login","Account",new { returnUrl = Url.Action("Detail", "Store", new { id = Model.ID }) })";
                else {
                    //添加到购物车成功，把动画取消

                    $("#msg").html(data);
                    //2S后，重新刷新此区域
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            }
        });
    });


    /*动画*/
    var onOff = true;
    $("#Music-Jukebox").click(function Music() {
        if (onOff) {
            myMusic.play();
            this.className = "rotate";

        }
        else {
            myMusic.pause();//暂停音乐
            this.className = "Music-Jukebox ";

        }
        onOff = !onOff;
    });

    var audio = document.getElementById('myMusic').paused;
</script>


