@model MusicStoreEntity.Order
@{
    ViewBag.Title = "确认下单";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    MusicStoreEntity.EntityDbContext _context = new MusicStoreEntity.EntityDbContext();
    var ads = _context.PeopleAddress.Where(x => x.Person.ID == Model.Person.ID);
}

<h3>确认下单</h3>
<hr />
@*收货信息*@
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">收货地址</h4>
    </div>
    <div class="panel-body list-address">
        @Html.DropDownList("Addresses", new SelectList(ViewBag.Addresses,"Value","Text"),new {@class= "btn btn-default form-control", id = "Ad"})
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>专辑名称</th>
                <th>单价</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="tbCart">
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@Html.ActionLink(item.Album.Title, "Detail", "Store", new { id = item.Album.ID }, null)</td>
                    <td>@item.Album.Price.ToString("C")</td>
                    <td><a href="#" class="glyphicon glyphicon-minus" onclick="minusCount('@item.ID')"></a>&nbsp;@item.Count&nbsp;<a href="#" class="glyphicon glyphicon-plus" onclick="addCount('@item.ID')"></a></td>
                    <td><a href="#" class="text-danger" onclick="RemoveDetail('@item.ID')"><span class="glyphicon glyphicon-remove"></span>我不喜欢这个了</a></td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>总价</td>
                <td>@Model.TotalPrice.ToString("C")</td>
            </tr>
        </tbody>
    </table>
    <p>
        <input type="submit" class="btn btn-success" value="确认购买" onclick="commit()" />
    </p>
</div>

<script>
    function RemoveDetail(id) {
        $.ajax({
            type: 'post',
            async: true,
            url: '../../Order/RemoveDetail',
            data: { id: id },
            dataType: 'json',
            success: function (data) {
                $("#tbCart").html(data);
            }
        });
    }

    function addCount(id){
        $.ajax({
            type:'post',
            async:true,
            url:'../../Order/AddCount',
            data:{id: id},
            dataType:'json',
            success:function (data){
                $("#tbCart").html(data);
            }
        });
    }

    function minusCount(id){
        $.ajax({
            type:'post',
            async:true,
            url:'../../Order/MinusCount',
            data:{id: id},
            dataType:'json',
            success:function (data){
                $("#tbCart").html(data);
            }
        });
    }

    function commit() {
        var id = $("#Ad").val();
        console.debug(id);
        $.ajax({
            type: 'post',
            async: true,
            url: '../../Order/Buy',
            data: { id: id },
            dataType: 'json',
            success: function (data){
                location.href = "../../Pay/AliPay/" + data + "";
            }
        });
    }

</script>