@model MusicStore.ViewModels.MyInfoViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>个人资料</h2>
@*@using (Html.BeginForm("Index", "MyInfo", FormMethod.Post))*@
@using (Html.BeginForm("Index", "MyInfo", FormMethod.Post))
{
    <div>
        <fieldset>
            <legend>填写个人资料</legend>
            @*@Html.EditorForModel()*@
            <div class="editor-label">
                    @Html.LabelFor(x => x.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(x => x.Name, new { placeholder = "请输入姓名" })
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.sex)
                </div>
                <div class="editor-field" id="checked">
                    @*<input type="radio" value="true" name="sex" checked="checked" />男
                    <input type="radio" value="false" name="sex" checked="checked" />女*@
                    @Html.RadioButtonFor(x=>x.sex,"True")男
                    @Html.RadioButtonFor(x => x.sex, "False")女
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.TelePhoneNumber)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(x => x.TelePhoneNumber, new { placeholder = "请输入手机号码" })
                    @Html.ValidationMessageFor(x => x.TelePhoneNumber)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(x => x.Email, new { placeholder = "请输入邮箱" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.Address)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(x => x.Address, new { placeholder = "请输入收货地址" })
                    @Html.ValidationMessageFor(x => x.Address)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(x => x.Birthay)
                </div>
                <div class="editor-field">
                    @*<input type="date" value="1998-01-01" name="Birthay"/>*@
                    @*@Html.TextBoxFor(x => x.Birthay, new {type= "datetimepicker" })
                    @Html.ValidationMessageFor(x => x.Birthay)*@
                    @Html.TextBoxFor(x=>x.Birthay,new{ type="date"})
                </div> 
            <p>
                <input type="submit" value="保存" class="btn btn-success" style="width: 70px" />
            </p>
        </fieldset>
    </div>
}


