@model MusicStoreEntity.Album

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "专辑明细";
}


<h2>@Model.Title</h2>

<div id="box-video">
    <div class="cd"  style="background: url(@(Model.AlbumArtUrl)) no-repeat;">
        <div class="cd-center">
            <audio src="@Model.MusicUrl" controls autoplay loop></audio>
        </div>
    </div>
</div>

<div id="album-details">
    <p>
        <em>
            发布时间：
        </em>
        @Model.PublisherDate.ToString("yyyy年MM月dd日");
    </p>
    <p>
        <em>
            分类：
        </em>
        @Model.Genre.Name
    </p>
    <p>
        <em>
            歌手：
        </em>
        @Model.Artist.Name
    </p>
    <p>
        <em>
            价格：
        </em>
        ￥@String.Format("{0:F}", Model.Price)
    </p>

    <div id="msg"></div>
    <p class="button">
        <a class="btn" id="addcart">添加到购物车</a>
        <div id="msg"></div>
    </p>

    @*显示评论*@
    <div class="row">
        <div class="col-md-10">
            <div id="divCmt">
                @Html.Raw(ViewBag.Cmt)
            </div>
        </div>
    </div>

    @*百度富文本编辑器的呈现*@
    <div class="row">
        <div class="col-md-10">
            <div class="form-group" id="div-editor">
                <textarea id="editor" name="editor"></textarea>
                <input type="hidden" id="pReplyID" />
            </div>
            <button id="btnCmt" type="button" class="btn btn-success">评论</button>
        </div>
    </div>

    @*利用boostrap中的modal显示子回复*@
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="Div-SonCmts">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        原回复
                    </h4>
                </div>
                <div class="modal-body">
                    子回复。。。<a href='#' style="margin-left:20px;"><i class='glyphicon glyphicon-thumbs-up'></i></a>(0)
                    <a href='#' style="margin-left:5px;"><i class='glyphicon glyphicon-thumbs-down'></i></a>(0)<br />
                </div>
                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    @*<!-- 加载编辑器的容器 -->
    <div>
    <script id="container" name="content" type="text/plain" style="width:300px;">
       
    </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="~/ueditor1_4_3-utf8-net/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="~/ueditor1_4_3-utf8-net/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container',{
            toolbars: [
        [
            'simpleupload', 'emotion',
        ]],
        autoHeightEnabled: true,
        autoFloatEnabled: true,
        wordCount: false,
        elementPathEnabled: false
        });
    </script>
        <input type="button" id="submit" value="评论" />
    </div>*@
</div>

<script>
    //回复的数量，显示模块
    function ShowCmt(id) {
        //ajax查询子回复
        $.ajax({
            type: "post",
            asyn: true,
            url: '@Url.Action("showCmts","Store")',
            data: {
                "pid": id
            },
            dataType: 'json',
            success: function (data) {
                $('#Div-SonCmts').html(data);
                $('#myModal').modal('toggle');
            }
        });
    }

    //点赞
    function Like(id) {
        $.ajax({
            type: 'post',
            asyn: true,
            url: '@Url.Action("Like","Store")',
            data: { "pid": id },
            dataType: 'json',
            success: function (data) {
                //detail
                //modal
            }
        })
    }
    function hate(id) {
        $.ajax({
            type: 'post',
            asyn: true,
            url: '@Url.Action("Hate","Store")',
            data: { "pid": id },
            dataType: 'json',
            success: function (data) {
                //detail
                //modal
            }
        })
    }
    //点击评论中的回复按钮触发的方法
    function GetQuote(id) {
        //保存该评论的id
        $("#pReplyID").val(id);
        alert($("#pReplyID").val());
        //取回复的内容
        var divName = 'Content-' + id;
        var content = "<p></p>" + $("#" + divName).html();

        //把内容赋值给ueditor
        var ue = UE.getEditor('editor');
        ue.ready(function () {
            ue.setContent(content);
        });
    }
    //百度编辑器调用
    var editor = new baidu.editor.ui.Editor({
        UEDITOR_HOME_URL: "/ueditor/",//配置编辑器的路径
        iframeCssUrl: "/ueditor/themes/iframe.css",//自定义样式路径
        initialContent: "五星好评",//出事内容
        autoHeightEnabled: true,//高度自适应
        minFrameHeight:500 //编辑器最小的高度
    });
    editor.render("editor");

    //提交回复
    $("#btnCmt").click(function(){
        //获得编辑器的内容
        UE.getEditor("editor");
        var content = UE.getEditor("editor").getContent();
        //ajax提交
        $.ajax({
            type:'post',
            asyn:true,
            url:'@Url.Action("AddCmt","Store")',
            data:{
                "id": "@Model.ID",
                "cmt": content,
                "reply": pid
            },
            dataType: 'json',
            success: function (data) {
                if (data == 'nologin') {
                    //如果没登录
                    location.href = "@Url.Action("login","Account",
                                  new{returnUrl=Url.Action("Detail","Store",new { id=Model.ID})})";
                }
                else if (data == "OK") {
                    alert("评论成功");
                    //局部刷新
                }
            }
        });
    });


    //添加购物车
    $("#addcart").click(function() {
        //异步
        $("#msg").html("<img src='../../content/images/loading.gif'>添加到购物车，请稍候...");
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data:{id:"@Model.ID" },
            dataType: 'json',
            success: function(data) {
                //如果没有登录，跳转到登录页
                if (data == "nologin") {
                    location.href = "@Url.Action("login", "Account",
                                         new {returnUrl = Url.Action("Detail", "Store", new {id = Model.ID})})";
                }
                else {
                    //添加到购物车成功，把动画取消
                    $("#msg").html(data);
                    //2秒后，自动重新刷新此区域
                    setTimeout(function () {
                            location.reload();
                        },
                        2000);
                }
            }
        });
    });
</script>