@using MusicStoreEntity
@model IEnumerable<MusicStoreEntity.Order>
@{
    ViewBag.Title = "我的订单";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<fieldset>
    <legend>我的订单</legend>
    <table>
        <tr>
            <th>订单摘要</th>
            <th>订单明细</th>
            <th>总价</th>
            <th>状态</th>
        </tr>  
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="text-warning">@item.TradeNo</span><br/>
                    收件人：@item.AddressPerson<br/>
                    收货地址：@item.Address<br/>
                    电话：@item.MobilNumber<br/>
                </td>
                <td>
                    @foreach (var d in item.OrderDetails)
                    {
                        <span class="text-primary">@d.Album.Title , @d.Count 张</span><br/>
                    }
                </td>
                <td>
                    ￥@item.TotalPrice.ToString("C")
                </td>
                <td>
                    @item.EnumOrderStatus
                    @if (item.EnumOrderStatus == EnumOrderStatus.未付款)
                    {
                        <a style="color: white" class="btn btn-success" href="@Url.Action("alipay","Pay",new {id= item.ID})"><i class="glyphicon glyphicon-usd"></i>马上付款</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p></p>
    </fieldset>