@model MusicStoreEntity.Album

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "专辑明细";
}

@*唱片*@
<div id="box-video">
    <div class="cd" style="background:url(@(Model.AlbumArtUrl)) no-repeat;">
        <div class="cd-center">
            <audio src="@Model.MusicUrl" controls  loop></audio>@*autoplay*@
        </div>
    </div>
</div>



<div id="album-details">
    <p>
        <em>
            发布时间：
        </em>
        @Model.PublisherDate.ToString("yyyy年MM月dd日");
    </p>
    <p>
        <em>
            分类：
        </em>
        @Model.Genre.Name
    </p>
    <p>
        <em>
            歌手：
        </em>
        @Model.Artist.Name
    </p>
    <p>
        <em>
            价格：
        </em>
        ￥@String.Format("{0:F}", Model.Price)
    </p>

    <div id="msg"></div>
    <p class="button">
        <a class="btn" id="addcart">添加到购物车</a>
        <div id="msg"></div>
    </p>
</div>


    @*评论*@
   <div class="row">
       <div class="col=md-10">
           <div class="form-group">
               <textarea id="editor" name="editor"></textarea>
           </div>
           <button id="btnCmt" type="button" class="btn btn-success">评论</button>
       </div>
       </div>
    @*<input id="submit" type="button" value="评论">*@
        <!-- 加载编辑器的容器 -->
        @*<script id="container" name="content" type="text/plain">
            点评内容：
        </script>
    </div>
    <div id="albumComment">

    </div>*@
<script>
    var editor = new baidu.editor.ui.Editor({
            UEDITOR_HOME_URL:'/ueditor/',
            iframeCssUrl: '/ueditor/themes/iframe.css',
            initialContent: '评论内容',
            autoHeightEnabled: true,
            minFrameHeight:500
        });
    editor.render('editor');

    //提交回复
    $("#btnCmt").click(function () {
        //
        UE.getEditor('editor');
        var content = UE.getEditor('editor').getContent();

        $.ajax({
            type: 'post',
            asyn: true,
            url: '@Url.Action("AddCmt","Store")',
            data: {
                "id": "@Model.ID",
                "cmt": content,
                "reply": ""
            },
            dataType: 'json',
            success: function (data) {
                if (data == 'nologon') {
                    //
                    location.href = "@Url.Action("login","Account",
                                  new { returnUrl=Url.Action("Detail","Store",new { id=Model.ID})})";
                } else if (data == "OK") {
                    alert("发表成功");
                }
                //局部刷新
            }
        });
    });

    $("#addcart").click(function () {

        //异步
        $("#msg").html("<img src='../../Content/images/ProgressIcon.gif'>添加到购物车，请稍后....");
        $.ajax({
            type:'post',
            async:true,
            url:'../../ShoppingCart/AddCart',
            data:{id:"@Model.ID"},
            dataType:'json',
            success:function(data){
                //如果没有登录，转到登录页
                if(data =="nologin"){
                    location.href="@Url.Action("login","Account",
                new {returnUrl=Url.Action("Detail","Store",new {id=Model.ID})})";
                }
                else{
                    //添加到购物车成功，把动画取消
                    $("#msg").html(data);
                    //重新刷新此区域
                    location.reload();
                }
            }
        });
    });

</script>
