@model MusicStoreEntity.Album

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "专辑明细";
}

@*唱片*@
<div id="box-video">
    <div class="cd" style="background:url(@(Model.AlbumArtUrl)) no-repeat;">
        <div class="cd-center">
            <audio src="@Model.MusicUrl" controls autoplay loop></audio>
        </div>
    </div>
</div>



<div id="album-details">
    <p>
        <em>
            发布时间：
        </em>
        @Model.PublisherDate.ToString("yyyy年MM月dd日"); 
    </p>
    <p>
        <em>
            分类：
        </em>
        @Model.Genre.Name
    </p>
    <p>
        <em>
            歌手：
        </em>
        @Model.Artist.Name
    </p>
    <p>
        <em>
            价格：
        </em>
        ￥@String.Format("{0:F}", Model.Price)
    </p>

    <div id="msg"></div>
    <p class="button">
        <a class="btn" id="addcart">添加到购物车</a>
        <div id="msg"></div>
    </p>

    @*评论*@
    <hr/>
    <div>
    <input id="submit" type="button" value="评论">
        <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain">
        </script>
    </div>

 


    
        这里写你的初始化内容
 
    <!-- 配置文件 -->
    <script type="text/javascript" src="~/Ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="~/Ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>
    


</div>



<script>
    $("#addcart").click(function () {

        //异步
        $("#msg").html("<img src='../../Content/images/ProgressIcon.gif'>添加到购物车，请稍后....");
        $.ajax({
            type:'post',
            async:true,
            url:'../../ShoppingCart/AddCart',
            data:{id:"@Model.ID"},
            dataType:'json',
            success:function(data){
                //如果没有登录，转到登录页
                if(data =="nologin"){
                    location.href="@Url.Action("login","Account",
                new {returnUrl=Url.Action("Detail","Store",new {id=Model.ID})})";
                }
                else{
                    //添加到购物车成功，把动画取消
                    $("#msg").html(data);
                    //重新刷新此区域
                    location.reload();
                }
            }
        });
    });




    @*评论*@
    $("#submint").click(function () {

        var txt = ue.getPlainTxt();
        alert(txt);

        $.ajax({
            type: 'post',
            async: true,
            url: '../../Store/Content',
            data: { str: txt, id: "@Model.ID" },
                dataType: 'json',
                success: function (data) {
                    //是否登录
                    if (data != "nologin") {
                        if (data != "")
                            $("#albumComment").html(data);
                    }
                    else {
                        alert("需要先登录！")
                        location.href = "@Url.Action("login", "Account",

                       new { returnUrl = Url.Action("Detail", "Store", new { id = Model.ID }) })";
                    }
                }
            });
        document.getElementById("container").value="";
    });
</script>