
@model MusicStoreEntity.Album
@{
    ViewBag.Title = "专辑明细";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>@Model.Title</h2>

<p>
    <img alt="@Model.Title" src="@Model.AlbumaArtUrl" />
</p>


<div id="album-details">
    <div id="box-video">
        <div class="cd" style="background: url@(Model.AlbumaArtUrl)no-repeat; ">
            <div class="cd-center">
                <audio src="@Model.MusicUrl" controls autoplay loop></audio>
            </div>
        </div>
    </div>

    <p>
        <em>
            分类：
        </em>
        @Model.Genre.Name
    </p>


    <p>
        <em>
            歌手：
        </em>
        @Model.Artist.Name
    </p>


    <p>
        <em>
            发布时间：
        </em>
        @Model.PublisherDate.ToString("yyyy年MM月dd日");
    </p>

    <p>
        <em>
            价格：
        </em>
        @String.Format("{0:F}", Model.Price)
    </p>

    <div id="msg"></div>
    <p class="btn btn-info btn-group-sm" id="addcart">
        添加购物车
    </p>
    <div id="msg"></div>
    <br />

    <div class="row">
        <div class="col-md-10">
            <div id="divCmt">
                @Html.Raw(ViewBag.Cmt)
            </div>
        </div>
    </div>


    @*uedtor 百度呈现*@
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <textarea id="editor" name="editor"></textarea>
                <input type="hidden" id="pReplyID" />
            </div>
            <button id="btnCmt" type="button" class="btn btn-success">评论</button>
        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="Div-sonCmt">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        原回复
                    </h4>
                </div>
                <div class="modal-body">
                    子回复：哈里欧<<a href='#' class='reply'>><i class='glyphicon glyphicon-heart'></i>(0)  &nbsp &nbsp</a><a href='#' class='reply'><i class='glyphicon glyphicon-thumbs-down'></i>(0)</a>
                </div>

                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



<script>

    //点击回复触发方法
    function GetQuote(id) {
        //保存该评论id
        $("#pReplyID").val(id);
        // 从 Content 取出回复的内容 
        var divName = 'Content-' + id;
        var content = "<p></p>" + $("#" + divName).html();

        //在把内容赋值给UEditor编辑器
        var ue = UE.getEditor('editor');
        ue.ready(function () {
            ue.setContent(content);
        });
    }

    function Showcmt(id) {

        $.ajax({
            type: 'post',
            asyn: true,
            url: '@Url.Action("showCmts","Store")',
            data: { "pid": id },
            dataType: 'json',
            success: function (data) {
                $("#Div-sonCmt").html(data);
                $('#myModal').modal('toggle');
            }
        });
    }
   
    //百度编辑器调用
    var editor = new baidu.editor.ui.Editor({
        UEDITOR_URL: '/ueditor/',  //配置编辑器的路径
        iframeCssUrl: '/ueditor/themes/iframe.css',   //自定义保存路径
        initialContent:'写点东西吧。。。',  //初始编辑内容
        autoHeightEnabled:true,  //宽度是否自适应
        minFrameHeight:200  //编辑器最小的宽度
    });
    editor.render('editor');


    //提交回复
    $("#btnCmt").click(function () {
        UE.getEditor('editor');
        var content = UE.getEditor('editor').getContent();
        var pid = $("#pReplyID").val();
       // console(content); //测试内容是否提交

        $.ajax({
            type: 'post',
            asyn: true,
            url:'@Url.Action("AddCmt","Store")',
            data: {
                "id": "@Model.ID",
                "cmt": content,
                "reply":pid
            },
            dataType: 'json',
            success: function (data) {
                if (data == 'nologin') {
                    //判断是否登录
                    location.href = "@Url.Action("Login", "Account",
                 new {returnUrl = Url.Action("Detail", "Store", new { id = Model.ID})})";  //登录后跳回明细
                }
                else {
                    //HTML文本注入div
                    $("#divCmt").html(data);
                    //清空ueditor编辑器
                    UE.getEditor('editor').setContent('');
                    location.reload();
                }
            }
        })
    })

    $("#addcart").click(function () {
//异步
        $("#msg").html("<img src = '../../Content/Images/Loading.gif'>添加到购物车，请稍后......");
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data:{id:"@Model.ID"},
            dataType:'json',
            success: function (data) {
                //如果没有登录，跳回登录页
                if (data == "nologin")
                    location.href = "@Url.Action("login", "Account", new { returnUrl = Url.Action("Detail","Store",new { id = Model.ID })})";
                else {
                    //添加购物车成功后，动画消失
                    $("#msg").html(data);
                    //两秒后重新刷新此页面
                    setTimeout(function () {
                        location.reload();
                    },
                    2000);
                }
            }
        });
    });
</script>
