@model MusicStoreEntity.Album

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "专辑明细";
}


<h2>@Model.Title</h2>

<div id="box-video">
    <div class="cd"  style="background: url(@(Model.AlbumArtUrl)) no-repeat;">
        <div class="cd-center">
            <audio src="@Model.MusicUrl" controls autoplay loop></audio>
        </div>
    </div>
</div>

<div id="album-details">
    <p>
        <em>
            发布时间：
        </em>
        @Model.PublisherDate.ToString("yyyy年MM月dd日");
    </p>
    <p>
        <em>
            分类：
        </em>
        @Model.Genre.Name
    </p>
    <p>
        <em>
            歌手：
        </em>
        @Model.Artist.Name
    </p>
    <p>
        <em>
            价格：
        </em>
        ￥@String.Format("{0:F}", Model.Price)
    </p>

    <div id="msg"></div>
    <p class="button">
        <a class="btn" id="addcart">添加到购物车</a>
        <div id="msg"></div>
    </p>
</div>

<script>
    $("#addcart").click(function() {
        //异步
        $("#msg").html("<img src='../../content/images/loading.gif'>添加到购物车，请稍候...");
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data:{id:"@Model.ID" },
            dataType: 'json',
            success: function(data) {
                //如果没有登录，跳转到登录页
                if (data == "nologin") {
                    location.href = "@Url.Action("login", "Account", 
                                         new {returnUrl = Url.Action("Detail", "Store", new {id = Model.ID})})";
                }
                else {
                    //添加到购物车成功，把动画取消
                    $("#msg").html(data);
                    //2秒后，自动重新刷新此区域
                    setTimeout(function () {
                            location.reload();
                        },
                        2000);
                }
            }
        });
    });
</script>