@model Music.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<h2>
    <i class="glyphicon glyphicon-shopping-cart"></i>
    <em>浏览</em>您的购物车
</h2>
<p class="button">
    @Html.ActionLink("马上购买","buy","Order")
</p>
<table id="tbCart1">
    <tr>
        <td>专辑名</td>
        <td>单价</td>
        <td>数量</td>
        <td>操作</td>
    </tr>

    <tbody  id="tbCart">
@foreach (var item in Model.CartItems)
{
    <tr>
        <td>@Html.ActionLink(item.Album.Title,"detail","Store",new {id=item.Album.ID},null)</td>
        <td>@item.Album.Price.ToString("C")</td>
        <td><i style="cursor: pointer" class="glyphicon glyphicon-plus" onclick="plus('@item.ID')"></i> @item.Count <i  style="cursor: pointer" class="glyphicon glyphicon-minus" onclick="minus('@item.ID'")></i></td>
        <td><a href="#" onclick="removeCart('@item.ID');">
            <i class="glyphicon glyphicon-remove">
                移除购物车
            </i>
        </a></td>
    </tr>
}
    <tr>
        <td></td>
        <td></td>
        <td>总价</td>
        <td>@Model.CartTotaLPrice.ToString("C")</td>
    </tr>
    </tbody>
</table>
<script>
    function removeCart(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: "post",
            async: true,
            url: "../../ShoppingCart/removeCart",
            data: { id: id,ab:3 },
            dataType: 'json',
            success:function(data){
                //视图中tbody进行局部页面的刷新，<tbody>
                $("#tbCart").html(data);
            }
        });
    }
    function plus(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: "post",
            async: true,
            url: "../../ShoppingCart/removeCart",
            data: { id: id,ab:1 },
            dataType: 'json',
            success: function (data) {
                //视图中tbody进行局部页面的刷新，<tbody>
                $("#tbCart").html(data);
            }
        });
    }
    function minus(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: "post",
            async: true,
            url: "../../ShoppingCart/removeCart",
            data: { id: id,ab:0 },
            dataType: 'json',
            success: function (data) {
                //视图中tbody进行局部页面的刷新，<tbody>
                $("#tbCart").html(data);
            }
        });
    }
</script>

