
@using MusicStore.ViewMoldels
@model  MusicStore.ViewMoldels.ChangePassWordViewModel


@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>修改密码</h2>
@using (Html.BeginForm("changePassWord", "Account", FormMethod.Post))
{

    @*错误信息汇总*@
    @Html.ValidationSummary(true ,"密码修改失败，亲！检查是否有误")

<div>
    <fieldset>

        <legend>修改信息</legend>
        <div class="editor-label">
            @Html.LabelFor(x => x.PassWord)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.PassWord, new { placeholder = "密码" })
            @Html.ValidationMessageFor(x => x.PassWord)
        </div>


        <div class="editor-label">
            @Html.LabelFor(x => x.NewPassWord)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.NewPassWord, new { placeholder = "新密码" })
            @Html.ValidationMessageFor(x => x.NewPassWord)
        </div>


        <div class="editor-label">
            @Html.LabelFor(x => x.ConfirmNewPassWord)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(x => x.ConfirmNewPassWord, new { placeholder = "请输入新密码" })
            @Html.ValidationMessageFor(x => x.ConfirmNewPassWord)
        </div>

        <p>
            <input type="submit" value="修改" class="btn btn-success" style="width: 80px" />
        </p>
    </fieldset>
</div>
}