@using MusicStoreEntity
@model MusicStoreEntity.Ablum

@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "专辑明细";
    var Reply = ViewBag.Reply;
}

<h2>@Model.Title</h2>
 
<div id="box-video">
    <div class="cd" style="background: url(@(Model.AlbumArtUrl));" >
        <div class="cd-center">
            <audio src="@Model.MusucUrl" controls autoplay loop></audio>
        </div>
    </div>
</div>

<div id="album-details">
    <p>
        <em>
            发布时间：
        </em>
        @Model.PublisherDate.ToString("yyy年MM月dd日");
    </p>
    <p>
        <em>
            分类：
        </em>
        @Model.Genre.Name
    </p>
    <p>
        <em>
            歌手：
        </em>
        @Model.Artist.Name
    </p>
    <p>
        <em>
            价格：
        </em>
        ￥@String.Format("{0:F}",Model.Price)
    </p>


    <div id="msg"></div>
    <p class="button">
        <a class="btn" id="addcrt">添加到购物车</a>
        <div id="msg"></div>
    </p>
    <div id="paryed">
        @try
        {
            foreach (var item in Reply)
            {
                <div class="paryed">
                    <span>@item.Person.Name:</span>
                    <span>@item.Content:</span>
                    <p>@item.CreateDateTime</p>
                </div>
            }
        }
        catch
        {
        }
        
    </div>
    
    <div>
        <div class="editor-field">
            <textarea class="pary"></textarea>
        </div>
    </div>
    
    
    <!-- 加载编辑器的容器 -->
    <script id="container" name="content" type="text/plain">
        这里写你的初始化内容
    </script>
    <!-- 配置文件 -->
    <script type="text/javascript" src="~/Content/ueditor1_4_3-utf8-net/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="~/Content/ueditor1_4_3-utf8-net/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var ue = UE.getEditor('container');
    </script>

    <input type="button" onclick="paryted()" class="pary-btn" value="评论" />
    

</div>

<script>
    $("#addcrt").click(function () {
        //异步
        $("#msg").html("<img src='../../content/images/ProgressIcon.gif'>添加到购物车，请稍后......");
        $.ajax({
            type: 'post',
            async: true,
            url: '../../ShoppingCart/AddCart',
            data: { id: "@Model.ID" },
            dataType:'json',
            success: function(data) {
                //如果没有登录，跳转到登录页
                if (data == "nologin"){
                    location.href ="@Url.Action("Login", "Account",
                             new {returnUrl=Url.Action
                                 ("Detail","Store",new {id=Model.ID})})";
                }
                else {
                    //添加到购物车成功，把动画取消
                    $("#msg").html(data);
                    //重新刷新此区域
                    setTimeout(function() {
                        location.reload();
                    },2000);
                }
            }
        });
    });

    function paryted() {
        var pary = $(".pary")[0].value;
        $.ajax({
            type: 'post',
            asyne: true,
            url: '../../Store/Reply',
            data: { id: "@Model.ID", pary },
            dataType: 'json',
            success: function(data) {
                $("#paryed").html(data);
                $(".pary-btn")[0].value = "";
            }
        });
    }
</script>