@model MusicStoreEntity.Order
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>确认购买</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>购物车</legend>
        @Html.EditorForModel()
        <legend>您想购买的专辑列表</legend>
        <table>
            <tr>
                <th>专辑</th>
                <th>单价</th>
                <th>数量</th>
                <th>操作</th>
            </tr>
            <tbody id="tbCart">
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Album.Title, "detail", "Store", new {id = item.Album.ID}, null)
                    </td>
                    <td>
                        @item.Album.Price.ToString("C")
                    </td>
                    <td>
                        @item.Count
                    </td>
                    <td>
                        <a href="#" onclick="RemoveDetail('@item.ID');">
                            <i class="glyphicon glyphicon-remove"></i>
                            移除
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>总价</td>
                <td>@Model.TotalPrice.ToString("C")</td>
            </tr>
            </tbody>
        </table>
        <p></p>
        <p>
            <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-shopping-cart">去付款</i>
            </button>
        </p>
    </fieldset>
}

<script>
    function RemoveDetail(id) {
        alert("1");
        //移除订单明细
        $.ajax({
            type: 'post',
            async: true,
            url: '../../Order/RemoveDetail',
            data: { id: id },
            dataType: "Json",
            success: function (data) {
                $("#tbCart").html(data);
            }
        });
    }
</script>

